<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IsLogin</key>
	<string>/users/is_login/</string>
	<key>UserLogout</key>
	<string>/users/user_logout/</string>
	<key>UserLogin</key>
	<string>/users/user_login/</string>
	<key>AddUser</key>
	<string>/users/add_user/</string>
	<key>BaseURL</key>
	<string>http://localhost:8000</string>
</dict>
</plist>
